<table class="table table-dark table-striped rounded-circle">

  <thead>
    <tr>
      <th scope="col">Archivo</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of archivos">
      <td class="py-3">{{item}}</td>
      <td>
        <a class="btn btn-info border border-dark" href="http://localhost:3000/{{item}}" target="_blank">Ver</a>
        <a class="btn btn-warning border border-dark" href="http://localhost:3000/download/{{item}}">Descargar</a>
      </td>
    </tr>
  </tbody>

</table>

