@media (min-width: 0px) and (max-width: 547px) {
  a {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1165px) {
  a {
    width: 100%;
  }
}

@media (min-width: 1166px){
  a {
    width: 50%;
  }
}
